---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: gourmetgram-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: ghcr.io/mlflow/mlflow:v3.9.0
          ports:
            - containerPort: 8000
          resources:
            requests:
              memory: "1Gi"
              cpu: "200m"
            limits:
              memory: "2Gi"
              cpu: "1"
          env:
            - name: MLFLOW_TRACKING_URI
              value: http://0.0.0.0:8000
            - name: MLFLOW_SERVER_ALLOWED_HOSTS
              value: "*"
            - name: MLFLOW_S3_ENDPOINT_URL
              value: http://minio:9000
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: password
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: dbname
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: minio-credentials
                  key: accesskey
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: minio-credentials
                  key: secretkey
          command: ["/bin/sh", "-c"]
          args:
            - |
              pip install psycopg2-binary boto3 &&
              mlflow server --backend-store-uri "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}" \
              --artifacts-destination s3://mlflow-artifacts/ --serve-artifacts --host 0.0.0.0 --port 8000
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: gourmetgram-platform
spec:
  selector:
    app: mlflow
  ports:
    - port: 8000
      targetPort: 8000
  externalIPs:
    - {{ .Values.mlflow.externalIP }}
